<c-modal [visible]="display" backdrop="static" #model>
  <c-modal-header>
    <h5 cModalTitle>Update Transaction</h5>
    <button (click)="closeModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngTemplateOutlet="form"></ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button  [cModalToggle]="model.id" (click)="closeModal()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="onSaveChanges()" [hidden]="isPreview">Save Changes</button>
  </c-modal-footer>
</c-modal>

<ng-template #form>
  <form cForm class="row g-3">
    <c-col [md]="6">
      <label cLabel>Transaction type</label>
      <select cSelect [(ngModel)]="tx.type" name="type" required>
        <option value="TRANSFER">TRANSFER</option>
        <option value="CASH_OUT">CASH_OUT</option>
        <option value="DEBIT">DEBIT</option>
        <option value="PAYMENT">PAYMENT</option>
        <option value="CASH_IN">CASH_IN</option>
      </select>
    </c-col>
    <c-col [md]="6">
      <label cLabel>Amount</label>
      <input cFormControl [(ngModel)]="tx.amount" name="amount" [disabled]="isPreview"/>
    </c-col>
    <c-col [md]="12">
      <label cLabel>Origin Name</label>
      <input cFormControl [(ngModel)]="tx.nameOrig" name="nameOrig"/>
    </c-col>
    <c-col [md]="6">
      <label cLabel>Old Balance</label>
      <input cFormControl [(ngModel)]="tx.oldbalanceOrg" name="oldbalanceOrg"/>
    </c-col>
    <c-col [md]="6">
      <label cLabel>New Balance</label>
      <input cFormControl [(ngModel)]="tx.newbalanceOrig" name="newbalanceOrig"/>
    </c-col>
    <c-col [md]="12">
      <label cLabel>Dest Name</label>
      <input cFormControl [(ngModel)]="tx.nameDest" name="nameDest"/>
    </c-col>
    <c-col [md]="6">
      <label cLabel>Old Balance</label>
      <input cFormControl [(ngModel)]="tx.oldbalanceDest" name="oldbalanceDest"/>
    </c-col>
    <c-col [md]="6">
      <label cLabel>New Balance</label>
      <input cFormControl [(ngModel)]="tx.newbalanceDest" name="newbalanceDest"/>
    </c-col>
  </form>
</ng-template>
