<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <h2>Transactions For Responsible</h2>
        <table [bordered]="true" borderColor="primary" cTable>
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Amount</th>
            <th scope="col">NameOrig</th>
            <th scope="col">OldbalanceOrg</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of suspiciousTransactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.nameOrig }}</td>
            <td>{{ transaction.oldbalanceOrg }}</td>
            <c-dropdown>
              <button cButton cDropdownToggle color="secondary" variant="outline">
                Action
              </button>
              <ul cDropdownMenu>
                <li>
                  <button cDropdownItem (click)="openUpdate(transaction)">
                    <svg cIcon class="me-2" name="cil-pencil"></svg>
                    Update
                  </button>

                </li>
                <li>
                  <button cDropdownItem (click)="showDetails(transaction)">
                    <svg cIcon class="me-2" name="cil-file"></svg>
                    Preview
                  </button>
                </li>
                <li>
                  <button cDropdownItem (click)="openDeletePopUp(transaction)">
                    <svg cIcon class="me-2" name="cil-trash"></svg>
                    Delete
                  </button>
                </li>
              </ul>
            </c-dropdown>
          </tr>
          </tbody>
        </table>

      </c-card-body>
    </c-card>
  </c-col>

</c-row>

<app-transaction-form [(display)]="displayForm"
                      [mode]="mode"
                      [tx]="tx"
                      [isPreview]="isPreview"
                      (onSave)="handleSave()"></app-transaction-form>


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="dialogDeletionConfirmation()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Are you sure you want to delete?</c-modal-body>
  <c-modal-footer>
    <button (click)="cancelDeletion()" cButton color="secondary">
      Cancel
    </button>
    <button cButton color="danger" (click)="delete()">Delete</button>
  </c-modal-footer>
</c-modal>

